//BG COLORS
$bg-color: #0F0F0F;
$bg_color_dark: #000000;
$bg_variant: #1D1F1F;

//FONT COLORS
$Primary-color: #5FB0B7;
$SecondaryFont-color: #666C6C;
$TertiaryFont-color: #5F6666;

//TYPO
$Mainfont_family: 'Inter' , sans-serif;
$Regular_font_weight: 400;
$SemiBold_font_weight: 600;
$Bold_font_weight: 700;

//SIZE
$font_size_regular: 16px;
$font_size_small: 14px;
$font_size_large: 24px;