.icon_Accueil {
    background-image: url("/assets/Icons/home.png");
    width: 24px;
    height: 24px;
  }
.icon_Playlist {
    background-image: url("/assets/Icons/playlist.png");
    width: 24px;
    height: 24px;
}
.icon_Album {
    background-image: url("/assets/Icons/album.png");
    width: 24px;
    height: 24px;
}

.icon_Tendances {
    background-image: url("/assets/Icons/tendance.png");
    width: 24px;
    height: 24px;
}
.icon_Populaires {
    background-image: url("/assets/Icons/populaires.png");
    width: 24px;
    height: 24px;
}
.icon_Chanteurs {
    background-image: url("/assets/Icons/chanteurs.png");
    width: 24px;
    height: 24px;
}
.icon_Groupes {
    background-image: url("/assets/Icons/groupes.png");
    width: 24px;
    height: 24px;
}

.icon_Radio {
    background-image: url("/assets/Icons/radio.png");
    width: 24px;
    height: 24px;
}
.icon_Poadcast {
    background-image: url("/assets/Icons/podcast.png");
    width: 24px;
    height: 24px;
}

.dotblue {
    background-image: url("/assets/Icons/dotblue.png");
}

.dotred {
    background-image: url("/assets/Icons/dotred.png");
}

.dotgreen {
    background-image: url("/assets/Icons/dotgreen.png");
}

.dotyellow {
    background-image: url("/assets/Icons/dotyellow.png");
}

.dotpurple {
    background-image: url("/assets/Icons/dotpurple.png");
}
